config.py
essay.txt
system copy.txt
reader copy.txt
__pycache__/
readerlog.txt
plannerlog.txt
researcherlog.txt
sources.txt
writerlog.txt
finished/*
conversations/*
papergpt-385322-d38e4f1f7e59.json

!conversations/.gitkeep
!finished/.gitkeep